@model Umuly_Case.Models.CaseClass

@{
    ViewBag.Title = "Ayrıntılar";
}

<h3>Ayrıntılar</h3>

<div>
    
    <hr />
	<dl class="dl-horizontal">
		<dt>
			FİRMA ADI :
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Firma)
		</dd>

		<dt>
			MODU :
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Modu)
		</dd>

		<dt>
			HAREKET ŞEKLİ :
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Hareket_Sekli)
		</dd>

		<dt>
			INCOTERM :
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Incoterm)
		</dd>

		<dt>
			ÜLKE :
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Ulke)
		</dd>

		<dt>
			ŞEHİR :
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Sehir)
		</dd>

		<dt>
			PAKET TİPİ :
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Paket_Tipi)
		</dd>

		<dt>
			UZUNLUK :
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Uzunluk)
		</dd>

		<dt>
			UZUNLUK BİRİMİ :
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Uzunluk_Birimi)
		</dd>

		<dt>
			AĞIRLIK :
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Agirlik)
		</dd>

		<dt>
			AĞIRLIK BİRİMİ :
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Agirlik_Birimi)
		</dd>

		<dt>
			ÜCRET :
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Ucret)
		</dd>

		<dt>
			PARA BİRİMİ :
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Para_Birimi)
		</dd>

	</dl>
</div>
<p>
   
    @Html.ActionLink("Listeye Geri Dön", "Index")
</p>
